body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    height: 100%;
    grid-template-columns: minmax(200px, 1fr) 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

/* sidebar */

.sidebar {
    background-color:rgb(25,146,212);
    color: aliceblue;
    grid-area: 1 / 1 / span 3 / span 1;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    font-weight: bold;
    position: sticky;
}

.fa-solid {
    margin-right: 15px;
    height: 16px;
    width: 16px;
}

.sidebar-section-one {
    grid-area: 2 / 1 / 3 / 3;
    margin: 20px;
}

.sidebar-section-two {
    grid-area: 3 / 1 / 4 / 2;
    margin: 20px;
}

.sidebar-title {
    margin: 20px;
}



/* header */

header {
    background-color:aliceblue;
    color: black;
    grid-area: 1 / 2 / 2 / span 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 1fr;
    padding: 0px 25px 25px 25px;
    z-index:0;
    position: relative;
    box-shadow: 0 6px 8px -6px rgb(128, 128, 128, 0.76);
}

/* .upper-header */

.search {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content auto;
}

.upper-header {
    grid-area: 1 / 1 / 3 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
}

input[type="text"] {
    width: auto;
    height: 2em;
    border-radius: 50px;
    border: none;
    align-self: center;
    background-color:rgb(226,232,240);
}

i.fa-solid.fa-magnifying-glass {
    margin: 20px;
    font-size: 20px;
    justify-self: flex-end;
    align-self: center;
}

.photo {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    justify-self: center;
    align-self: center;
    margin-right: 25px;
    margin-left: 25px;
}

.username {
    grid-column: 2 / 2;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content min-content auto;
    margin-left: 50px;
}

i.fa-solid.fa-bell {
    align-self: center;
    margin: auto;
    font-size: 20px;
    justify-self: end;
}

/* bottom-header */


.bottom-header {
    grid-column: 1 / 3;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}

.user-greeting {
    margin: 0px;
}

p.user-greeting {
    align-self: center;
}


.welcome {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: 38px 38px;
}

.photo-big {
    height: 75px;
    width: 75px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    justify-self: center;
    align-self: auto;
    margin-right: 25px;
    margin-left: 25px;
}

.buttons {
    grid-column: 2 / 3;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: flex-start;
    grid-template-columns: repeat(3, min-content);
    gap: 25px;
    margin-right: 75px;
}

input[type="button"]{
    appearance: none;
    border: none;
    border-radius: 20px;
    width: 6em;
    height: 2.5em;
    background-color:rgb(25,146,212);
    color: aliceblue;
    font-weight: bold;
}
/* projects */

.projects {
    background-color: #E2E8F0;
    grid-area: 2 / 2 / 4 / 3;
    padding: 0px 25px;
    display: grid;
    grid-template-rows: min-content min-content; 
}

.project-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project-card {
    background-color: white;
    width: 1fr;
    height: 150px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px -4px, inset 8px 0px orange;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    align-content: space-between;
}

.project-card-share {
    display: grid;
    grid-auto-flow:column;
    justify-content: flex-end;
    gap: 25px;
}

.project-card h4 {
    margin: 0px;
}

.project-card p {
    margin-top: 4px;
}

/* announcements */

.announcements {
    background-color: #E2E8F0;

}



.announcements-card {
    margin-right: 25px;
    background-color: white;
    padding: 25px;
    box-shadow: 2px 2px 6px -4px;
    border-radius: 8px;
}

.announcements-card-content {
    box-shadow: 0 1px 1px silver;
    padding: 5px;
}

.announcements-card-content p {
    font-size: 14px;
    margin-top: 2px;
}

p.announcements-card-content-title {
    margin-top: 13.33px;
}

.announcements-card-content-title {
    margin-bottom: 0px;
}

.announcement-card-content-text {
    color: grey;
}

/* news  */

.trending {
    background-color: #E2E8F0;
}


.photo-trending {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 15px;
}

.trending-card {
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 6px -4px;
    padding: 15px;
    display: grid;
    gap: 15px;
}

.trending-content {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.trending-text p {
    margin: 0px;
}

.trending-text {
    display: grid;
    align-items: center;
}

.title {
    color: grey;
    font-size: 16px;
    align-self: flex-start;
}